<app-navbar></app-navbar>
<body>
<div class="depoimentos">
  <div class="texto">
    <h1>Depoimentos de Clientes</h1>
  </div>

  <div class="container-depoimentos">
    <div class="quadradoDepoimento">
        <div class="usuario">
            <img src="img/homem.jpeg" alt="" class="imagemDepoimento">
            <h4>João Carlos Perreira</h4>
        </div>
      <h4 class="comentario">Atendimento excelente, salvaram meu gatinho no fim de semana!</h4>
    </div>
    <div class="quadradoDepoimento">
        <div class="usuario">
            <img src="img/barbudo.jpeg" alt="" class="imagemDepoimento">
            <h4>Alberto Rodriguez</h4>
        </div>
      <h4 class="comentario">Levo meus dois cães aqui há anos. Sempre muito atenciosos!</h4>
    </div>
    <div class="quadradoDepoimento">
        <div class="usuario">
            <img src="img/mulher1.jpeg" alt="" class="imagemDepoimento">
            <h4>Ana Clara Mertiz</h4>
        </div>
      <h4 class="comentario">Ambiente limpo, organizado e com profissionais que realmente se importam.</h4>
    </div>
    <div class="quadradoDepoimento">
        <div class="usuario">
            <img src="img/velha.jpeg" alt="" class="imagemDepoimento">
            <h4>Rosângela Mendonça</h4>
        </div>
      <h4 class="comentario">Fui muito bem orientada durante o tratamento da minha cadelinha idosa.</h4>
    </div>
    <div class="quadradoDepoimento">
        <div class="usuario">
            <img src="img/mulher2.jpeg" alt="" class="imagemDepoimento">
            <h4>Anais Watterson</h4>
        </div>
      <h4 class="comentario">Equipe simpática e preço justo. Super recomendo!</h4>
    </div>
    <div class="quadradoDepoimento">
        <div class="usuario">
            <img src="img/ruiva.jpeg" alt="" class="imagemDepoimento">
            <h4>Emilly Partnez</h4>
        </div>
      <h4 class="comentario">Minha calopsita foi muito bem cuidada, adorei o serviço especializado.</h4>
    </div>
  </div>
</div>
</body>
<app-footer></app-footer>