<app-navbar></app-navbar>
<div class="sobre">
  <div class="texto">
    <h1>Sobre a Clínica</h1>
    <p>Localizada no estacionamento da Uninassau, nossa clínica veterinária oferece atendimento qualificado para animais de pequeno porte, aliando prática profissional com ensino. Com uma equipe de veterinários especializados e o apoio de alunos do curso de Medicina Veterinária, proporcionamos um ambiente de cuidado, aprendizado e dedicação ao bem-estar animal. <br><br>

      Oferecemos uma variedade de serviços veterinários, sempre com compromisso, responsabilidade e atenção às necessidades de cada paciente. Aqui, seu pet é atendido com carinho e por profissionais em constante atualização</p>
  </div>

  <div class="imagemNassau">
    <img src="img/sobreNassau.png" alt="" class="sobNassau">
  </div>
</div>

<div class="icones">
  <div class="iconeLocal">
    <img src="img\icons\localizacao.png" alt="">
    <p>Av. Pres. Epitácio Pessoa, 1213 - Estados, João Pessoa - PB</p>
  </div>
  
  <div class="iconeContato">
    <img src="img\icons\telefone.png" alt="">
    <p>(83)2107-5959</p>
  </div>
  
  <div class="iconeHorario">
    <img src="img\icons\relogio.png" alt="">
    <p>08:00 - 22:00 Seg - Sex <br>08:00 - 12:00 Sab
    </p>
  </div>
</div>
