<footer class="footer">
    <nav  class="endereco">
        <p class="nome" href="">
            Clínica Escola<br>de Medicina<br>Veterinária<br>UNINASSAU
        </p>
        <p href="" class="localizacao">
           <br>Av.Pres Epitácio Pessoa<br>1213-Estados<br>João Pessoa-PB<br>53030-001
        </p>
    </nav>
    <nav class="navegacao">
    <p>Navegação</p>
     <a href=""><br>Início</a>
      <a>Sobre</a>
      <a>Serviços</a>
      <a href="">Depoimentos</a>
      <a class="contato" href="">Contato</a>
    </nav>
</footer>
