<app-navbar></app-navbar>
<body>
<h2 class="conheca">Conheça nossa equipe</h2>
<div class="medico">
  <div class="lucas">
    <img src="img\Vet1.png" alt="Doutor Lucas Costa">
    <div class="info">
      <h2>Doutor Lucas Costa</h2>
      <p>
        Clínica e Cirurgia de Pequenos Animais<br>
        Atende cães e gatos com foco em procedimentos clínicos, cirurgias gerais e emergências veterinárias.<br><br>
        Telefone: (11) 98765-4321<br><br>
        Horários de Atendimento:<br>
        Segunda a Sexta: 09h às 17h<br>
        Sábado: 08h às 13h<br>
        Domingo: Não atende<br>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-whatsapp"></i>
      </p>
    </div>
  </div>

  <div class="camila">
    <img src="img\Vet2.png" alt="Doutora Camila Ribeiro">
    <div class="info2">
      <h2>Doutora Camila Ribeiro</h2>
      <p>
        Dermatologia e Nutrição Animal<br>
        Especialista em cuidados com pele, pelos e alimentação balanceada para cães e gatos.<br><br>
        Telefone: (11) 99876-1234<br><br>
        Horários de Atendimento:<br>
        Segunda, Quarta e Sexta: 10h às 18h<br>
        Terça e Quinta: 12h às 20h<br>
        Sábado: 09h às 12h<br>
        Domingo: Não atende<br>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-whatsapp"></i>
      </p>
    </div>
  </div>
</div>
</body>
<app-footer></app-footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />