<header class="navbar">
    <div class="logo">
      <a routerLink="/">
        <img class="imagemlogo" src="img\logo-uninassau.png" alt="" />
      </a>
    </div>
   
    <button class="menu-icon" (click)="toggleMenu()">&#9776;</button>
   
    <nav class="nav-links" [ngClass]="{ aberto: menuAberto }">
      <a href="">Início</a>
      <a [routerLink]="['/sobre']">Sobre</a>
      <a [routerLink]="['/servicos']">Serviços</a>
      <a href="">Depoimentos</a>
      <a class="contato" href="">Contato</a>
    </nav>
  </header>
