<app-navbar></app-navbar>
<body>
<div class="formulario-container">
  <form class="formulario">
    <h2>Informações do Tutor</h2>
    <div class="linha">
      <div class="campo">
        <label>Nome completo*</label>
        <input type="text" required>
      </div>
      <div class="campo">
        <label>CPF*</label>
        <input type="text" required>
      </div>
    </div>

    <div class="linha">
      <div class="campo">
        <label>Telefone com WhatsApp*</label>
        <input type="tel" required>
      </div>
      <div class="campo">
        <label>E-mail*</label>
        <input type="email" required>
      </div>
    </div>

    <h2>Informações do Pet</h2>
    <div class="linha">
      <div class="campo">
        <label>Nome do pet*</label>
        <input type="text" required>
      </div>
      <div class="campo">
        <label>Raça</label>
        <input type="text">
      </div>
    </div>

    <div class="linha">
      <div class="campo">
        <label>Idade aproximada</label>
        <input type="text">
      </div>
      <div class="campo">
        <label>Porte</label>
        <input type="text">
      </div>
    </div>

    <div class="campo campo-unico">
      <label>Observação importantes</label>
      <textarea rows="4"></textarea>
    </div>

    <h2 class="atend">Tipo de Atendimento</h2>
    <div class="linha">
      <div class="campo">
        <label>Motivo da consulta*</label>
        <input type="text" required>
      </div>
      <div class="campo">
        <label>Seleção de profissional</label>
        <input type="text">
      </div>
    </div>

    <h2>Data e Horário</h2>
    <div class="linha">
      <div class="campo">
        <label>Selecione a data</label>
        <input type="date">
      </div>
      <div class="campo">
        <label>Selecione o horário</label>
        <input type="time">
      </div>
    </div>

    <div class="linha align-center">
      <label class="checkbox">
        <input type="checkbox" required>
        Li e concordo com os termos da clínica
      </label>
    </div>

    <div class="linha align-center">
      <button type="submit">Marcar consulta</button>
    </div>

  </form>
</div>
</body>
<app-footer></app-footer>