<app-navbar></app-navbar>
<div class="servicos">
    <div class="titulo">
        <h1>Nossos Serviços</h1>
        <div class="consultas">
            <div class="quadradoConsulta">
                <div class="imagemConsulta">
                    <img src="img/iconConsulta.jpg" alt="">
                </div>
                <h4>Consultas Clínicas</h4>
                </div>
                <div class="quadradoConsulta">
                <div class="imagemConsulta">
                    <img src="img/iconConsulta.jpg" alt="">
                </div>
                <h4>Consultas Clínicas</h4>
                </div>
                <div class="quadradoConsulta">
                <div class="imagemConsulta">
                    <img src="img/iconConsulta.jpg" alt="">
                </div>
                <h4>Consultas Clínicas</h4>
                </div>
                <div class="quadradoConsulta">
                <div class="imagemConsulta">
                    <img src="img/iconConsulta.jpg" alt="">
                </div>
                <h4>Consultas Clínicas</h4>
                </div>
                <div class="quadradoConsulta">
                <div class="imagemConsulta">
                    <img src="img/iconConsulta.jpg" alt="">
                </div>
                <h4>Consultas Clínicas</h4>
                </div>
                <div class="quadradoConsulta">
                <div class="imagemConsulta">
                    <img src="img/iconConsulta.jpg" alt="">
                </div>
                <h4>Consultas Clínicas</h4>
                </div>
                <div class="quadradoConsulta">
                <div class="imagemConsulta">
                    <img src="img/iconConsulta.jpg" alt="">
                </div>
                <h4>Consultas Clínicas</h4>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>