.servicos{
  display: flex;
  text-align: center;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  background: linear-gradient(rgb(254, 254, 254), rgb(231, 231, 141)), rgb(230, 219, 9);
}



.titulo{
  width: 555px;
  height: 200px;
  font-size: x-large;
  font-family: sans-serif;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 550px;
  color:#003366;
  gap: 10px;
  flex: 1;
}

.titulo h1{
    font-size: 50px;
}

.negrito {
    font-weight: bold;
}


.consultas{
    display: flex;
    justify-content: center;
    gap: 7%;
    flex-wrap: wrap;
    
}

.quadradoConsulta{
    padding: 15px;
    padding-top: 35px;
    margin-top: 100px;
    color: black;
    background-color: white;
    width: 300px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.664) ;
}

.imagemConsulta{
  display: flex;
  flex: 1;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
  margin-left: 15px;
  max-width: 1rem;
  
}

.imagemConsulta img{
    margin-left: 15%;
    width: 300px;
    height: 150px;
    border-radius: 10%;
}

.especial{
   margin-left: 5%;
    width: 250px;
    height: 150px;
    border-radius: 10%;
}