<app-navbar></app-navbar>
<div class="servicos">
    <div class="titulo">
        <h1>Nossos Serviços</h1>
        <div class="consultas">
            <div class="quadradoConsulta">
                <div class="">
                    <img class="especial" src="img/vacinacao.jpeg" alt="">
                </div>
                <h4>Vacinação</h4>
                </div>
                <div class="quadradoConsulta">
                <div class="imagemConsulta">
                    <img src="img/cirurgia.jpeg" alt="">
                </div>
                <h4>Cirurgia</h4>
                </div>
                <div class="quadradoConsulta">
                <div class="imagemConsulta">
                    <img src="img/odontologia.jpeg" alt="">
                </div>
                <h4>Odontologia</h4>
                </div>
                <div class="quadradoConsulta">
                <div class="imagemConsulta">
                    <img src="img/consulta.jpeg" alt="">
                </div>
                <h4>Consulta</h4>
                </div>
                <div class="quadradoConsulta">
                <div class="imagemConsulta">
                    <img src="img/minicreche.jpeg" alt="">
                </div>
                <h4>Mini Creche</h4>
                </div>
                <div class="quadradoConsulta">
                <div class="imagemConsulta">
                    <img src="img/banhoetosa.jpeg" alt="">
                </div>
                <h4>Banho e tosa</h4>
                </div>
               
            </div>
        </div>
    </div>
<app-footer></app-footer>